<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaia Technologies Peru S.A.C</title>
    <link href="assets/img/gtp.ico" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    @Styles.Render("~/assets/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
 
   
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Gaia Technologies S.A.C</p> 
            
        </footer>
        

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
